#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 10%;
  text-align: center;
}


.card {
  padding: 2em;
}



.container .container-fluid{
  width: auto;
}

.col {
  padding: 2em;
}

.border {
  border-width: 5px;
}
